body {
  background-color: #faf4f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #525252;
}

body a {
  text-decoration: none;
}

/* ======== MISC ======== */
.text-title {
  font-size: 48px;
  font-weight: 600;
  color: #e44c2e;
}

.text-orange {
  color: #ff512f;
}

.text-sky {
  color: #3bb3c2 !important;
}

.text-purple {
  color: #7367f0 !important;
}

.fs-12 {
  font-size: 12px;
}

.ps-13 {
  padding-left: 3rem !important;
}

.w-250px {
  width: 250px;
}

.bg-gradient-style {
  padding: 32px;
  background: radial-gradient(33.4% 53.21% at 0% 0%, #f09819 0%, rgba(161, 207, 126, 0) 100%), radial-gradient(100% 159.29% at 100% 100%, #f09819 0%, rgba(161, 207, 126, 0) 59.31%), #ff512f;
  border-radius: 36px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}

.bg-gradient-style-light {
  padding: 32px;
  background: radial-gradient(100% 100% at 100% 0%, #e2b7a9 0%, rgba(169, 226, 225, 0) 100%), radial-gradient(100% 100% at 0% 0%, #ece8cb 0%, rgba(217, 236, 203, 0) 100%);
}

.btn-gradient {
  display: inline-block;
  padding: 16px 40px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  background: rgb(240, 152, 25);
  background: linear-gradient(90deg, rgba(240, 152, 25, 1) 0%, rgba(255, 81, 47, 1) 100%);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.btn-gradient:hover {
  background: #ff512f;
}

/* ======== NAVBAR ======== */
header.header-white .navbar {
  background-color: #ffffff !important;
  border-bottom: 1px solid #e5e5e5 !important;
}

header.header-white .navbar .nav-link {
  color: #ff512f !important;
}

header.header-white .navbar .nav-link:hover {
  color: #3bb3c2 !important;
}

header.header-white .navbar .navbar-brand img {
  filter: none;
  -webkit-filter: none;
}

.navbar {
  width: 100%;
  background-color: transparent;
  z-index: 20;
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
}

.navbar-inverse {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.navbar-inverse .nav-link {
  color: #ff512f !important;
}

.navbar-inverse .nav-link:hover {
  color: #3bb3c2 !important;
}

.navbar .navbar-brand {
  margin-right: 80px;
}

.navbar .navbar-brand img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

.navbar-inverse .navbar-brand img {
  filter: none;
  -webkit-filter: none;
}

.navbar .navbar-nav .nav-link {
  padding: 6px 20px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* ======== KBK HERO SECTION ======== */
.kbk-hero-section {
  padding-top: 132px;
  padding-bottom: 144px;
}

.kbk-hero-gradient {
  background: radial-gradient(33.4% 53.21% at 0% 0%, #f09819 0%, rgba(161, 207, 126, 0) 100%), radial-gradient(100% 159.29% at 100% 100%, #f09819 0%, rgba(161, 207, 126, 0) 59.31%), #ff512f;
}

.kbk-hero-section .kbk-hero-desc {
  padding: 70px 15px 48px 15px;
}

.kbk-hero-section .kbk-hero-desc h1 {
  margin-bottom: 32px;
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  line-height: 70px;
  text-shadow: 0px 12px 24px rgba(16, 24, 40, 0.08), 0px 2px 6px rgba(16, 24, 40, 0.15);
}

.kbk-hero-section .kbk-hero-desc p {
  color: #ffffff;
}

.kbk-hero-section .kbk-hero-desc .btn-outline-kbk {
  display: inline-block;
  padding: 12px 30px;
  border: 1px solid #ffffff;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: all 0.15s ease;
}

.kbk-hero-section .kbk-hero-desc .btn-outline-kbk:hover {
  background: rgb(240, 152, 25);
  background: linear-gradient(90deg, rgba(240, 152, 25, 1) 0%, rgba(255, 81, 47, 1) 100%);
}

.kbk-bg-logo {
  position: relative;
  z-index: 0;
}

.kbk-bg-logo::after {
  content: '';
  display: block;
  background: url('../img/kbk-bg-logo.png');
  position: absolute;
  top: -82px;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto 90%;
  mix-blend-mode: lighten;
  background-position: bottom left;
  z-index: -1;
}

.kbk-hero-section .slick-prev,
.kbk-hero-section .slick-next {
  position: absolute;
  top: 78%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: #ff512f;
  border: none;
  outline: none;
  border-radius: 50%;
  background: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  font-size: 0;
  text-align: center;
  line-height: 50px;
  z-index: 1;
}

.kbk-hero-section .slick-prev:hover:before,
.kbk-hero-section .slick-prev:focus:before,
.kbk-hero-section .slick-next:hover:before,
.kbk-hero-section .slick-next:focus:before {
  opacity: 1;
}

.kbk-hero-section .slick-prev:before,
.kbk-hero-section .slick-next:before {
  font-size: 16px;
  opacity: 0.75;
  color: #ff512f;
}

.kbk-hero-section .slick-prev {
  left: 67%;
}

.kbk-hero-section .slick-next {
  right: 14%;
}

/* ======== ABOUT US SECTION ======== */
.about-us {
  padding-top: 60px;
  background-color: #faf4f2;
}

.about-us-desc {
  padding-top: 48px;
}

/* ======== PRODUCT SECTION ======== */
.product {
  padding-top: 60px;
  background-color: #faf4f2;
}

.card-product {
  margin-bottom: 30px;
  position: relative;
  height: 375px;
  border: 1px solid #ff512f;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  background-size: auto, auto;
  /*Nottobeconfusedwith`autoauto`*/
  background-size: 100%;
}

.bg-perpus {
  background-image: url('../img/perpus.png');
  background-repeat: no-repeat;
}

.bg-titikbaca {
  background-image: url('../img/titikbaca.png');
  background-repeat: no-repeat;
}

.bg-tbd {
  background-image: url('../img/toko-buku-digital.jpg');
  background-repeat: no-repeat;
}

.bg-bookubuku {
  background-image: url('../img/bookubuku.png');
  background-repeat: no-repeat;
}

.card-product .card-description {
  position: absolute;
  width: 100%;
  top: auto;
  padding: 24px;
  bottom: 80px;
  background: #fff;
  color: #3c4a50;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  --webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.card-product:hover .card-description {
  bottom: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.card-product .card-description h3 {
  margin-bottom: 24px;
  font-size: 24px;
  color: #e44c2e;
  text-align: center;
}

/* ======== WHY KUBUKU SECTION ======== */
.why-kubuku {
  padding-top: 60px;
  background-color: #faf4f2;
}

.bg-why-gradient {
  padding: 32px;
  background: radial-gradient(33.4% 53.21% at 0% 0%, #f09819 0%, rgba(161, 207, 126, 0) 100%), radial-gradient(100% 159.29% at 100% 100%, #f09819 0%, rgba(161, 207, 126, 0) 59.31%), #ff512f;
  border-radius: 36px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}

.why-description {
  color: #ffffff;
}

.why-description h3 {
  margin-bottom: 36px;
  font-size: 54px;
  font-weight: 600;
}

/* ======== BLOG SECTION ======== */
.blog {
  padding-top: 60px;
  background-color: #faf4f2;
}

.blog-card {
  display: flex;
  flex-direction: row;
  min-height: 230px;
  border: 1px solid #ff512f;
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.blog-card .blog-img-holder {
  width: 50%;
  border-radius: 30px 0 0 30px;
  overflow: hidden;
}

.blog-card .blog-content {
  position: relative;
  display: flex;
  margin-top: unset;
  margin-left: -48px;
  padding: 1.3rem 2rem;
  width: 50%;
  background: #ffffff;
  flex: 1;
  flex-direction: column;
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
}

.blog-card .blog-content .date-badge {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.date-badge-inner {
  display: inline-flex;
  padding: 4px 12px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #f5f5f5;
  align-items: center;
}

.blog-card .blog-content .date-badge span {
  margin-left: 6px;
  font-size: 12px;
  font-weight: 600;
  color: #525252;
}
.blog-card .blog-content h3 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  color: #ff512f;
}

.blog-card .blog-content p {
  margin-bottom: 0;
  color: #525252;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 80px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* ======== WHY KUBUKU SECTION ======== */
.ranking {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #faf4f2;
}

.bg-ranking-gradient {
  padding: 32px;
  background: radial-gradient(33.4% 53.21% at 0% 0%, #f09819 0%, rgba(161, 207, 126, 0) 100%), radial-gradient(100% 159.29% at 100% 100%, #f09819 0%, rgba(161, 207, 126, 0) 59.31%), #ff512f;
  border-radius: 36px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}

.ranking-description {
  position: relative;
  color: #ffffff;
}

.ranking-description h3 {
  font-size: 36px;
  font-weight: 600;
}

.ranking-description p {
  font-size: 20px;
}

.nav-tabs {
  padding-left: 32px;
  padding-right: 32px;
  border-bottom: none;
}

.nav-tabs .nav-link {
  margin-right: 16px;
  padding: 12px 32px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #ffffff;
  color: #525252;
}

.nav-tabs .nav-link:hover {
  color: #ff512f;
  border-color: transparent;
}

.nav-tabs .nav-link.active {
  font-weight: 500;
  color: #ff512f;
}

.tab-content {
  padding: 24px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 1px solid #ff512f;
}

.rank-list {
  display: flex;
  margin-bottom: 16px;
}

.rank-list .number-rank {
  font-size: 44px;
  font-weight: 500;
  text-align: center;
}

.rank-list h4 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
}

.rank-list span {
  font-size: 12px;
}

.ranking .slick-prev,
.ranking .slick-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: #ff512f;
  border: none;
  outline: none;
  border-radius: 50%;
  background: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  font-size: 0;
  text-align: center;
  line-height: 50px;
  z-index: 1;
}

.ranking .slick-prev:hover:before,
.ranking .slick-prev:focus:before,
.ranking .slick-next:hover:before,
.ranking .slick-next:focus:before {
  opacity: 1;
}

.ranking .slick-prev:before,
.ranking .slick-next:before {
  font-size: 16px;
  opacity: 0.75;
  color: #ff512f;
}

.ranking .slick-prev {
  left: -2%;
}

.ranking .slick-next {
  right: -2%;
}

/* ======== MITRA SECTION ======== */
.mitra {
  padding: 100px 0 30px 0;
}

.kbk-section-hero {
  border: 1px solid #e3f1d8;
  box-shadow: 4px 8px 24px -4px rgba(182, 86, 41, 0.08), -8px -8px 8px -4px rgba(182, 79, 41, 0.03);
  position: relative;
  border-radius: 48px;
  overflow: hidden;
}

.kbk-content-hero {
  padding: 72px 48px;
  border-radius: 48px 48px 0 48px;
  background: #fff;
  width: 50%;
  z-index: 2;
  position: relative;
}

.kbk-content-hero::after {
  content: '';
  display: block;
  position: absolute;
  background: transparent;
  width: 48px;
  height: 100%;
  right: -48px;
  bottom: 0;
  box-shadow: 0 48px 0 0 #fff;
  border-radius: 0 0 0 48px;
}

.kbk-content-hero.style {
  padding: 20px 48px;
}

.kbk-title {
  color: #ff512f;
}

.kbk-content-bg {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  border-radius: 0 48px 48px 0;
}

.kbk-content-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kbk-card-collapsible {
  position: relative;
  margin-bottom: 24px;
  background: #fff;
  border: 1px solid #ff512f;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 24px;
}

.kbk-card-collapsible-body {
  padding: 1.3rem 1.5rem;
  min-height: 146px;
}

.kbk-title-collapsible {
  font-size: 24px;
  line-height: 32px;
  color: #ff512f;
}

.kbk-card-collapsible-footer {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  padding: 1.3rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.kbk-card-collapsible-footer .extras-image {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
  background: radial-gradient(33.4% 53.21% at 0% 0%, #f09819 0%, rgba(161, 207, 126, 0) 100%), radial-gradient(100% 159.29% at 100% 100%, #f09819 0%, rgba(161, 207, 126, 0) 59.31%), #ff512f;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.kbk-card-collapsible-footer .extras-image i {
  font-size: 20px;
}

.kbk-card-ctrl {
  flex-basis: 100%;
  text-align: center;
  color: #ff512f;
  transition: all 0.1s ease;
}

.kbk-card-ctrl.rotated {
  transform: rotate(180deg);
}

.kbk-collapsible-item {
  background: #fafafa;
  padding: 16px 20px;
  border-top: 1px solid #ff512f;
  border-radius: 0 0 24px 24px;
  overflow: hidden;
}

.kbk-card-display {
  display: block;
  padding: 10px;
  border: 1px solid #e3b8b5bf;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  cursor: pointer;
  color: #525252;
}

.kbk-card-display:hover {
  border: 1px solid #ff512f;
}

.card-profit-mitra {
  padding: 32px;
  background-color: #ffffff;
  border: 1px solid #ff512f;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.card-profit-mitra h3 {
  font-weight: 600;
  color: #ff512f;
}

/* ======== BOOK CATALOGUE SECTION ======== */
.book-catalogue {
  padding: 100px 0 30px 0;
}

.kbk-card {
  background-color: #ffffff;
  box-shadow: 4px 8px 24px -4px rgba(182, 86, 41, 0.08), -8px -8px 8px -4px rgba(182, 79, 41, 0.03);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

table.dataTable > thead > tr > td:not(.sorting_disabled),
table.dataTable > thead > tr > th:not(.sorting_disabled) {
  padding-right: 0;
}

table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting_asc_disabled,
table.dataTable thead > tr > th.sorting_desc_disabled,
table.dataTable thead > tr > td.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting_asc_disabled,
table.dataTable thead > tr > td.sorting_desc_disabled {
  cursor: pointer;
  position: relative;
  padding-right: 26px;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
  text-align: left;
}

table.dataTable tr,
table.dataTable th {
  font-weight: 500 !important;
  font-size: 12px !important;
  color: #b5b5c3 !important;
}

table.dataTable th,
table.dataTable td {
  border-color: #f5f5f5;
  color: #7e8299;
  font-size: 14px;
  font-weight: normal;
}

.table.gs-7 th:first-child,
.table.gs-7 td:first-child {
  padding-left: 1.75rem;
}

.table.gy-5 th,
.table.gy-5 td {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

div.dataTables_scrollBody {
  border-left: none !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  justify-content: flex-end;
}

div.dataTables_wrapper div.dataTables_info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  font-size: 12px;
  font-weight: 500;
  color: #5e6278;
  padding: 1rem 0;
}

.form-select.form-select-solid {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  color: #5e6278;
  transition: color 0.2s ease;
}

div.dataTables_wrapper div.dataTables_paginate {
  padding: 1rem 0;
  margin-left: 0.5rem;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
.pagination.pagination-circle .page-link {
  border-radius: 50%;
}
.pagination.pagination-outline .page-link {
  border: 1px solid #f4f4f4;
}
.pagination.pagination-outline .page-item:hover:not(.disabled) .page-link,
.pagination.pagination-outline .page-item.active .page-link {
  border-color: #ff512f;
}

.page-item {
  margin-right: 0.5rem;
  /*rtl:end:ignore*/
}
.page-item:last-child {
  margin-right: 0;
}
.page-item .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.475rem;
  height: 2rem;
  min-width: 2rem;
  font-weight: 500;
  font-size: 0.75rem;
}
.page-item .page-link i {
  font-size: 0.75rem;
}
.page-item .page-link .previous,
.page-item .page-link .next {
  display: block;
  height: 0.875rem;
  width: 0.875rem;
  /*rtl:raw:transform: rotateZ(-180deg);*/
}
.page-item .page-link .previous {
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: #5e6278;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-gray-700%29'%3e%3cpath d='M2.72011 2.76429L4.46358 1.02083C4.63618 0.848244 4.63617 0.568419 4.46358 0.395831C4.29099 0.223244 4.01118 0.223244 3.83861 0.395831L1.52904 2.70537C1.36629 2.86808 1.36629 3.13191 1.52904 3.29462L3.83861 5.60419C4.01117 5.77675 4.29099 5.77675 4.46358 5.60419C4.63617 5.43156 4.63617 5.15175 4.46358 4.97919L2.72011 3.23571C2.58994 3.10554 2.58994 2.89446 2.72011 2.76429Z'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-gray-700%29'%3e%3cpath d='M2.72011 2.76429L4.46358 1.02083C4.63618 0.848244 4.63617 0.568419 4.46358 0.395831C4.29099 0.223244 4.01118 0.223244 3.83861 0.395831L1.52904 2.70537C1.36629 2.86808 1.36629 3.13191 1.52904 3.29462L3.83861 5.60419C4.01117 5.77675 4.29099 5.77675 4.46358 5.60419C4.63617 5.43156 4.63617 5.15175 4.46358 4.97919L2.72011 3.23571C2.58994 3.10554 2.58994 2.89446 2.72011 2.76429Z'/%3e%3c/svg%3e");
}
.page-item .page-link .next {
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: #5e6278;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-gray-700%29'%3e%3cpath d='M3.27989 3.23571L1.53642 4.97917C1.36382 5.15176 1.36383 5.43158 1.53642 5.60417C1.70901 5.77676 1.98882 5.77676 2.16139 5.60417L4.47096 3.29463C4.63371 3.13192 4.63371 2.86809 4.47096 2.70538L2.16139 0.395812C1.98883 0.22325 1.70901 0.22325 1.53642 0.395812C1.36383 0.568437 1.36383 0.84825 1.53642 1.02081L3.27989 2.76429C3.41006 2.89446 3.41006 3.10554 3.27989 3.23571Z'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-gray-700%29'%3e%3cpath d='M3.27989 3.23571L1.53642 4.97917C1.36382 5.15176 1.36383 5.43158 1.53642 5.60417C1.70901 5.77676 1.98882 5.77676 2.16139 5.60417L4.47096 3.29463C4.63371 3.13192 4.63371 2.86809 4.47096 2.70538L2.16139 0.395812C1.98883 0.22325 1.70901 0.22325 1.53642 0.395812C1.36383 0.568437 1.36383 0.84825 1.53642 1.02081L3.27989 2.76429C3.41006 2.89446 3.41006 3.10554 3.27989 3.23571Z'/%3e%3c/svg%3e");
}
.page-item:focus .page-link {
  color: #b5b5c3;
  /*rtl:options:{"autoRename":false}*/
}
.page-item:focus .page-link .svg-icon,
.page-item:focus .page-link i {
  color: #b5b5c3;
}
.page-item:focus .page-link .previous {
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: #b5b5c3;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-focus-color%29'%3e%3cpath d='M2.72011 2.76429L4.46358 1.02083C4.63618 0.848244 4.63617 0.568419 4.46358 0.395831C4.29099 0.223244 4.01118 0.223244 3.83861 0.395831L1.52904 2.70537C1.36629 2.86808 1.36629 3.13191 1.52904 3.29462L3.83861 5.60419C4.01117 5.77675 4.29099 5.77675 4.46358 5.60419C4.63617 5.43156 4.63617 5.15175 4.46358 4.97919L2.72011 3.23571C2.58994 3.10554 2.58994 2.89446 2.72011 2.76429Z'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-focus-color%29'%3e%3cpath d='M2.72011 2.76429L4.46358 1.02083C4.63618 0.848244 4.63617 0.568419 4.46358 0.395831C4.29099 0.223244 4.01118 0.223244 3.83861 0.395831L1.52904 2.70537C1.36629 2.86808 1.36629 3.13191 1.52904 3.29462L3.83861 5.60419C4.01117 5.77675 4.29099 5.77675 4.46358 5.60419C4.63617 5.43156 4.63617 5.15175 4.46358 4.97919L2.72011 3.23571C2.58994 3.10554 2.58994 2.89446 2.72011 2.76429Z'/%3e%3c/svg%3e");
}
.page-item:focus .page-link .next {
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: #b5b5c3;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-focus-color%29'%3e%3cpath d='M3.27989 3.23571L1.53642 4.97917C1.36382 5.15176 1.36383 5.43158 1.53642 5.60417C1.70901 5.77676 1.98882 5.77676 2.16139 5.60417L4.47096 3.29463C4.63371 3.13192 4.63371 2.86809 4.47096 2.70538L2.16139 0.395812C1.98883 0.22325 1.70901 0.22325 1.53642 0.395812C1.36383 0.568437 1.36383 0.84825 1.53642 1.02081L3.27989 2.76429C3.41006 2.89446 3.41006 3.10554 3.27989 3.23571Z'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-focus-color%29'%3e%3cpath d='M3.27989 3.23571L1.53642 4.97917C1.36382 5.15176 1.36383 5.43158 1.53642 5.60417C1.70901 5.77676 1.98882 5.77676 2.16139 5.60417L4.47096 3.29463C4.63371 3.13192 4.63371 2.86809 4.47096 2.70538L2.16139 0.395812C1.98883 0.22325 1.70901 0.22325 1.53642 0.395812C1.36383 0.568437 1.36383 0.84825 1.53642 1.02081L3.27989 2.76429C3.41006 2.89446 3.41006 3.10554 3.27989 3.23571Z'/%3e%3c/svg%3e");
}
.page-item:hover:not(.active):not(.offset):not(.disabled) .page-link {
  color: #009ef7;
  /*rtl:options:{"autoRename":false}*/
}
.page-item:hover:not(.active):not(.offset):not(.disabled) .page-link.page-text {
  background-color: transparent;
}
.page-item:hover:not(.active):not(.offset):not(.disabled) .page-link .svg-icon,
.page-item:hover:not(.active):not(.offset):not(.disabled) .page-link i {
  color: #009ef7;
}
.page-item:hover:not(.active):not(.offset):not(.disabled) .page-link .previous {
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: #009ef7;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-hover-color%29'%3e%3cpath d='M2.72011 2.76429L4.46358 1.02083C4.63618 0.848244 4.63617 0.568419 4.46358 0.395831C4.29099 0.223244 4.01118 0.223244 3.83861 0.395831L1.52904 2.70537C1.36629 2.86808 1.36629 3.13191 1.52904 3.29462L3.83861 5.60419C4.01117 5.77675 4.29099 5.77675 4.46358 5.60419C4.63617 5.43156 4.63617 5.15175 4.46358 4.97919L2.72011 3.23571C2.58994 3.10554 2.58994 2.89446 2.72011 2.76429Z'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-hover-color%29'%3e%3cpath d='M2.72011 2.76429L4.46358 1.02083C4.63618 0.848244 4.63617 0.568419 4.46358 0.395831C4.29099 0.223244 4.01118 0.223244 3.83861 0.395831L1.52904 2.70537C1.36629 2.86808 1.36629 3.13191 1.52904 3.29462L3.83861 5.60419C4.01117 5.77675 4.29099 5.77675 4.46358 5.60419C4.63617 5.43156 4.63617 5.15175 4.46358 4.97919L2.72011 3.23571C2.58994 3.10554 2.58994 2.89446 2.72011 2.76429Z'/%3e%3c/svg%3e");
}
.page-item:hover:not(.active):not(.offset):not(.disabled) .page-link .next {
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: #009ef7;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-hover-color%29'%3e%3cpath d='M3.27989 3.23571L1.53642 4.97917C1.36382 5.15176 1.36383 5.43158 1.53642 5.60417C1.70901 5.77676 1.98882 5.77676 2.16139 5.60417L4.47096 3.29463C4.63371 3.13192 4.63371 2.86809 4.47096 2.70538L2.16139 0.395812C1.98883 0.22325 1.70901 0.22325 1.53642 0.395812C1.36383 0.568437 1.36383 0.84825 1.53642 1.02081L3.27989 2.76429C3.41006 2.89446 3.41006 3.10554 3.27989 3.23571Z'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-hover-color%29'%3e%3cpath d='M3.27989 3.23571L1.53642 4.97917C1.36382 5.15176 1.36383 5.43158 1.53642 5.60417C1.70901 5.77676 1.98882 5.77676 2.16139 5.60417L4.47096 3.29463C4.63371 3.13192 4.63371 2.86809 4.47096 2.70538L2.16139 0.395812C1.98883 0.22325 1.70901 0.22325 1.53642 0.395812C1.36383 0.568437 1.36383 0.84825 1.53642 1.02081L3.27989 2.76429C3.41006 2.89446 3.41006 3.10554 3.27989 3.23571Z'/%3e%3c/svg%3e");
}
.page-item.active .page-link {
  color: #ffffff;
  /*rtl:options:{"autoRename":false}*/
}
.page-item.active .page-link.page-text {
  background-color: transparent;
}
.page-item.active .page-link .svg-icon,
.page-item.active .page-link i {
  color: #ffffff;
}
.page-item.active .page-link .previous {
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: #ffffff;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-active-color%29'%3e%3cpath d='M2.72011 2.76429L4.46358 1.02083C4.63618 0.848244 4.63617 0.568419 4.46358 0.395831C4.29099 0.223244 4.01118 0.223244 3.83861 0.395831L1.52904 2.70537C1.36629 2.86808 1.36629 3.13191 1.52904 3.29462L3.83861 5.60419C4.01117 5.77675 4.29099 5.77675 4.46358 5.60419C4.63617 5.43156 4.63617 5.15175 4.46358 4.97919L2.72011 3.23571C2.58994 3.10554 2.58994 2.89446 2.72011 2.76429Z'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-active-color%29'%3e%3cpath d='M2.72011 2.76429L4.46358 1.02083C4.63618 0.848244 4.63617 0.568419 4.46358 0.395831C4.29099 0.223244 4.01118 0.223244 3.83861 0.395831L1.52904 2.70537C1.36629 2.86808 1.36629 3.13191 1.52904 3.29462L3.83861 5.60419C4.01117 5.77675 4.29099 5.77675 4.46358 5.60419C4.63617 5.43156 4.63617 5.15175 4.46358 4.97919L2.72011 3.23571C2.58994 3.10554 2.58994 2.89446 2.72011 2.76429Z'/%3e%3c/svg%3e");
}
.page-item.active .page-link .next {
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: #ffffff;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-active-color%29'%3e%3cpath d='M3.27989 3.23571L1.53642 4.97917C1.36382 5.15176 1.36383 5.43158 1.53642 5.60417C1.70901 5.77676 1.98882 5.77676 2.16139 5.60417L4.47096 3.29463C4.63371 3.13192 4.63371 2.86809 4.47096 2.70538L2.16139 0.395812C1.98883 0.22325 1.70901 0.22325 1.53642 0.395812C1.36383 0.568437 1.36383 0.84825 1.53642 1.02081L3.27989 2.76429C3.41006 2.89446 3.41006 3.10554 3.27989 3.23571Z'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-active-color%29'%3e%3cpath d='M3.27989 3.23571L1.53642 4.97917C1.36382 5.15176 1.36383 5.43158 1.53642 5.60417C1.70901 5.77676 1.98882 5.77676 2.16139 5.60417L4.47096 3.29463C4.63371 3.13192 4.63371 2.86809 4.47096 2.70538L2.16139 0.395812C1.98883 0.22325 1.70901 0.22325 1.53642 0.395812C1.36383 0.568437 1.36383 0.84825 1.53642 1.02081L3.27989 2.76429C3.41006 2.89446 3.41006 3.10554 3.27989 3.23571Z'/%3e%3c/svg%3e");
}
.page-item.disabled .page-link {
  color: #b5b5c3;
  /*rtl:options:{"autoRename":false}*/
}
.page-item.disabled .page-link .svg-icon,
.page-item.disabled .page-link i {
  color: #b5b5c3;
}
.page-item.disabled .page-link .previous {
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: #b5b5c3;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-disabled-color%29'%3e%3cpath d='M2.72011 2.76429L4.46358 1.02083C4.63618 0.848244 4.63617 0.568419 4.46358 0.395831C4.29099 0.223244 4.01118 0.223244 3.83861 0.395831L1.52904 2.70537C1.36629 2.86808 1.36629 3.13191 1.52904 3.29462L3.83861 5.60419C4.01117 5.77675 4.29099 5.77675 4.46358 5.60419C4.63617 5.43156 4.63617 5.15175 4.46358 4.97919L2.72011 3.23571C2.58994 3.10554 2.58994 2.89446 2.72011 2.76429Z'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-disabled-color%29'%3e%3cpath d='M2.72011 2.76429L4.46358 1.02083C4.63618 0.848244 4.63617 0.568419 4.46358 0.395831C4.29099 0.223244 4.01118 0.223244 3.83861 0.395831L1.52904 2.70537C1.36629 2.86808 1.36629 3.13191 1.52904 3.29462L3.83861 5.60419C4.01117 5.77675 4.29099 5.77675 4.46358 5.60419C4.63617 5.43156 4.63617 5.15175 4.46358 4.97919L2.72011 3.23571C2.58994 3.10554 2.58994 2.89446 2.72011 2.76429Z'/%3e%3c/svg%3e");
}
.page-item.disabled .page-link .next {
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: #b5b5c3;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-disabled-color%29'%3e%3cpath d='M3.27989 3.23571L1.53642 4.97917C1.36382 5.15176 1.36383 5.43158 1.53642 5.60417C1.70901 5.77676 1.98882 5.77676 2.16139 5.60417L4.47096 3.29463C4.63371 3.13192 4.63371 2.86809 4.47096 2.70538L2.16139 0.395812C1.98883 0.22325 1.70901 0.22325 1.53642 0.395812C1.36383 0.568437 1.36383 0.84825 1.53642 1.02081L3.27989 2.76429C3.41006 2.89446 3.41006 3.10554 3.27989 3.23571Z'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' fill='var%28--bs-pagination-disabled-color%29'%3e%3cpath d='M3.27989 3.23571L1.53642 4.97917C1.36382 5.15176 1.36383 5.43158 1.53642 5.60417C1.70901 5.77676 1.98882 5.77676 2.16139 5.60417L4.47096 3.29463C4.63371 3.13192 4.63371 2.86809 4.47096 2.70538L2.16139 0.395812C1.98883 0.22325 1.70901 0.22325 1.53642 0.395812C1.36383 0.568437 1.36383 0.84825 1.53642 1.02081L3.27989 2.76429C3.41006 2.89446 3.41006 3.10554 3.27989 3.23571Z'/%3e%3c/svg%3e");
}

.disabled > .page-link,
.page-link.disabled {
  color: #b5b5c3;
  pointer-events: none;
  background-color: transparent;
  border-color: transparent;
}

.active > .page-link,
.page-link.active {
  z-index: 3;
  color: #ffffff;
  background-color: #ff512f;
  border-color: #ff512f;
}

@media (max-width: 991.98px) {
  .page-item {
    margin-right: 0.25rem;
  }
  .page-item:last-child {
    margin-right: 0;
  }
}

/* ======== FOOTER SECTION ======== */
.footer {
  padding-top: 32px;
  background-color: #ff512f;
  color: #ffffff;
}

.footer img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

.footer ul li a {
  color: #ffffff;
}
.footer ul li a i {
  font-size: 16px;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer .bottom-area {
  margin-top: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #ffffff;
}

.footer .bottom-area p {
  margin-bottom: 0;
  font-size: 12px;
}

.form-control {
  padding: 0.5rem 1rem;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  color: #5e6278;
  font-size: 14px;
  border-radius: 8px;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.form-control:focus {
  background-color: #f4f4f4;
  border-color: #f4f4f4;
  color: #5e6278;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  box-shadow: none;
}

/* ======== MOBILE RESPONSIVE ======== */
@media (max-width: 768px) {
  .navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-toggler-icon {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
  }

  .navbar-inverse .navbar-toggler-icon {
    filter: none;
    -webkit-filter: none;
  }

  .navbar-collapse {
    margin-top: 16px;
  }

  .kbk-hero-section {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .kbk-bg-logo::after {
    top: -130px;
  }

  .kbk-hero-section .kbk-hero-desc h1 {
    margin: 0 0 8px 0;
    font-size: 34px;
    line-height: 40px;
  }

  .kbk-hero-section .slick-prev,
  .kbk-hero-section .slick-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .kbk-hero-section .slick-next {
    right: 2%;
  }

  .kbk-hero-section .slick-prev {
    left: 74%;
  }

  .text-title.small {
    font-size: 24px;
  }

  .card-product {
    height: 280px;
  }

  .about-us,
  .blog {
    padding-top: 30px;
  }

  .blog-card {
    flex-direction: column;
  }

  .blog-card .blog-img-holder {
    width: 100%;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
  }

  .blog-card .blog-content {
    width: 100%;
    margin-left: 0;
    padding: 1.8rem 1.2rem;
    border-radius: 0px 0px 34px 34px;
  }

  .bg-why-gradient {
    padding: 1.5rem;
  }

  .nav-tabs {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-tabs .nav-link {
    margin-right: 0;
    margin-bottom: 8px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }

  .kbk-section-hero {
    border-radius: 36px;
    padding-bottom: 304px;
  }

  .kbk-content-hero {
    width: 100%;
    border-radius: 36px 36px 36px 0;
  }

  .kbk-content-hero::after {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    width: 100%;
    height: 36px;
    right: 0;
    bottom: -36px;
    box-shadow: -36px -1px 0 0 #fff;
    border-radius: 36px 0 0 0;
  }
  .kbk-content-bg {
    width: 100%;
    height: 340px;
    position: absolute;
    border-radius: 0 0 36px 0;
    top: unset;
    bottom: 0;
  }

  .kbk-content-bg > img {
    width: 100%;
    height: 340px;
    object-fit: cover;
  }

  .kbk-content-hero.style {
    padding: 24px;
  }
}

@media (max-width: 992px) {
  .kbk-hero-section .slick-next {
    right: 2%;
  }

  .kbk-hero-section .slick-prev {
    left: 85%;
  }

  .nav {
    display: block;
  }

  .nav-tabs .nav-link {
    width: 100%;
    margin-bottom: 8px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
  }
}
